@keyframes show-border {
    from {width: 0;}
    to {width: 95%;}
}
@keyframes show-search-border {
	from{width: 0;}
	to{width: 100%;
		box-shadow: 0 2px 0 0 #ff0000;}
}
@keyframes show-shadow {
	from{}
	to{box-shadow: 0 2px 0 0 #ff0000;}
}
@keyframes hide-border {
	from{}
	to{border: 2px solid rgba(245, 245, 245, 0.8);}
}
