@font-face {
	font-family: GildaDisplay;
	src: url(../fonts/Gilda_Display/GildaDisplay-Regular.ttf);
}
@font-face {
  font-family: 'QuattrocentoSans';
	src: url('../fonts/Quattrocento_Sans/QuattrocentoSans.eot');
  src: url('../fonts/Quattrocento_Sans/QuattrocentoSans.woff2') format('woff2'),
	   url('../fonts/Quattrocento_Sans/QuattrocentoSans.woff') format('woff'),
       url('../fonts/Quattrocento_Sans/QuattrocentoSans.ttf') format('truetype'),
       url('../fonts/Quattrocento_Sans/QuattrocentoSans.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Rufina;
  src: url('../fonts/Rufina/Rufina-Regular.eot');
  src: url('../fonts/Rufina/Rufina-Regular.woff2') format('woff2'),
       url('../fonts/Rufina/Rufina-Regular.woff') format('woff'),
       url('../fonts/Rufina/Rufina-Regular.ttf') format('truetype'),
       url('../fonts/Rufina/Rufina-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: fontawesome;
  src: url('../fonts/fontawesome/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome/fontawesome-webfont.woff2') format('woff2'),
       url('../fonts/fontawesome/fontawesome-webfont.woff') format('woff'),
       url('../fonts/fontawesome/fontawesome-webfont.ttf') format('truetype'),
       url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}