@import "normalize.css";
@import "font-awesome.min.css";
@import "fonts.css";
@import "animation.css";



*
{
	margin: 0;
	padding: 0;
}

html,
body
{
	width: 100%;
	height: 100%;
}

ul
{
	display: inline-block;
	list-style: none;
}

li
{
	float: left;
}

a
{
	text-decoration: none;
	color: #101010;
}

#wrapper
{
	font-family: QuattrocentoSans;
	font-size: 14px;
	font-weight: 400;
	width: 1920px;
	height: auto;
	margin: 0 auto;
	color: #101010;
	background-color: #fff;
}

.my-foto,
.post-img,
.box-photo,
.box,
.advertising
{
	background-color: #f5f5f5;
}



/* header */
header
{
	margin-top: 66px;
	text-align: center;
}

.logo
{
	width: 240px;
	height: 56px;
}
/* end header */


/* navigation */
nav
{
	height: 80px;
	margin-top: 20px;
	box-shadow: 1px 3px 9.9px .10px rgba(206, 206, 206, .32);
}

nav ul {
	padding-top: 20px;
}

nav .icon
{
	margin-left: 69px;
}

nav .icon li
{
	margin-right: 14px;
}

nav .icon li:last-child
{
	margin-right: 0;
}

.navigation
{
	margin-left: 532px;
}

.navigation li
{
	margin-right: 35px;
}

.navigation li:last-child
{
	margin-right: 0;
}

.navigation a
{
	font-weight: 700;
	line-height: 35px;
	position: relative;
	text-transform: uppercase;
}

.navigation a:before
{
	position: absolute;
	top: -4px;
	left: 1px;
	width: 0;
	height: 1px;
	content: '';
	background-color: #f00;
}

.navigation a:hover:before
{
	animation: show-border .4s linear;
	animation-fill-mode: forwards;
}

.navigation a.active:hover:before
{
	animation: none;
}
.navigation a.active:before
{
	width: 95%;
}

nav .search
{
	float: right;
	margin-right: 74px;
	padding: 25px 10px 10px 10px;
}

nav .search li
{
	margin-left: 14px;
}

input[type='search']
{
	font-size: 14px;
	width: 175px;
	height: 16px;
	padding-right: 5px;
	padding-left: 10px;
	letter-spacing: .07em;
	border: none;
}

input[type='search']:focus
{
	animation: show-search-border .3s linear;
	outline: none;
	animation-fill-mode: forwards;
}

.fa-search:hover,
nav .icon a:hover
{
	transition: color .4s ease;
	color: #f00;
}

nav .icon a
{
	font-family: FontAwesome;
	line-height: 36px;
}

/* end navigation*/


/* slader */
.slider
{
	position: relative;
	z-index: 110;
	height: 690px;
	background: #000 url(../img/slider-1.jpg) no-repeat 50% 55%;
}

.slider:after
{
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: 1920px;
	height: 360px;
	content: '';
	background: linear-gradient(to top, rgba(0,0,0, .4), rgba(255,255,255, 0));
}

.my-life
{
	font: 700 15px / 28px QuattrocentoSans;
	position: absolute;
	z-index: 90;
	bottom: 202px;
	left: 920px;
	width: 80px;
	height: 26px;
	text-align: center;
	letter-spacing: .07em;
	text-transform: uppercase;
	color: #fff;
	background-color: #f00;
}

.slider-text
{
	position: absolute;
	z-index: 100;
	bottom: 60px;
	left: 560px;
	text-align: center;
}

.slider-text a
{
	font: 700 50px / 65px Rufina;

	color: #fff;
}
/* end slader */


/* content */
#content
{
	width: 1270px;
	height: auto;
	margin: 0 auto;
	padding-top: 95px;
}

main,
aside
{
	display: inline-block;
}
/* main */
main
{
	position: relative;
	width: 830px;
	height: auto;
}

.post-left
{
	float: left;
	width: 400px;
	height: auto;
	margin-right: 30px;
}

.post-right
{
	float: right;
	width: 400px;
	height: auto;
}

.post-left .box-image
{
	width: 400px;
}

.post .post-content
{
	height: auto;
	padding-top: 25px;
	padding-bottom: 80px;
}

.category
{
	font: italic 12px / 18px QuattrocentoSans;
	width: 60px;
	margin: 0 auto;
	text-align: center;
	letter-spacing: .08em;
	color: #898989;
	border-bottom: 1px solid #898989;
}

.topic
{
	margin-top: 20px;
	text-align: center;
}

.topic a
{
	font: 700 24px / 35px Rufina;
	display: block;
}

.topic a:hover
{
	transition: color .3s ease-in-out;
	color: rgba(247, 0, 0, .9);
}

.post-content p
{
	line-height: 27px;
	margin-top: 20px;
	text-align: center;
	letter-spacing: .05em;
	color: #898989;
}

.post-content .topic-date
{
	font-size: 13px;
	line-height: 48px;
	margin-top: 20px;
	text-align: center;
	color: #101010;
}

.post-content .topic-date span
{
	color: #898989;
}

.post .box-image
{
	position: relative;
	overflow: hidden;
	width: 400px;
}

.post .box-image .img-bg
{
	transition: all 2s linear;
}

.post .box-image .img-bg:hover
{
	transition: all 1.5s linear;
	transform: scale(1.1);
}

.post-item-1 .img-bg
{
	height: 272px;
	background: url(../img/post_img/Layer-1.png);
}

.post-item-3 .img-bg
{
	height: 272px;
	background: url(../img/post_img/Layer-4.png);
}

.post-item-4 .img-bg
{
	height: 272px;
	background: url(../img/post_img/street_style_en_milan_spring_print_884670239_2000x1333.png);
}

.post-item-5 .img-bg
{
	height: 470px;
	background: url(../img/post_img/Layer-2.png);
}

.post-item-6 .img-bg
{
	height: 588px;
	background: url(../img/post_img/9056052e9386f188413bd7abb681a257.png);
}

.post-item-7 .img-bg
{
	height: 469px;
	background: url(../img/post_img/16ddfc30335685.561e519555158.png);
}

.post-item-8 .img-bg
{
	height: 403px;
	background: url(../img/post_img/46f9dc30335685.561e62f2a1cfc.png);
}

.post-item-9 .img-bg
{
	height: 502px;
	background: url(../img/post_img/c55aa9c8da48fe7f785e2658e53ed7e4.png);
}
/* main */

/* aside */
aside
{
	float: right;
	width: 440px;
}

.bar
{
	float: right;
	width: 320px;
	height: auto;
}
	/* about-my */
.about-me .box-photo
{
	width: 320px;
	height: 220px;
	background: url(../img/my-photo.png);
	background-color: #ebebeb;
}

.about-me .category
{
	font-size: 13px;
	line-height: 20px;
	width: 81px;
	margin: 0;
	margin-top: 25px;
	text-align: left;
}

.full-name
{
	font: 700 36px / 24px Rufina;
	padding-top: 20px;
	text-transform: capitalize;
	color: #242424;
}

.about-me p
{
	font-size: 13px;
	line-height: 24px;
	transform: scale(1,1);
	text-align: left;
	letter-spacing: 0;
	color: #707070;
}

.follow
{
	padding-top: 45px;
}

.follow:first-child
{
	font-size: 12px;
	line-height: 18px;
	color: #898989;
}

.follow li a
{
	font: 12px / 14px FontAwesome;
	margin-left: 10px;
	color: #101010;
}

.follow li:nth-child(2) a
{
	margin-left: 20px;
}

.follow li a:hover
{
	transition: color .4s ease;
	color: #f00;
}
	/* end about-my */
	/* subscrible */
.subscrible
{
	height: 180px;
	margin-top: 60px;
	background-color: #f5f5f5;
}

.subscrible form
{
	margin-top: 55px;
	margin-left: 20px;
}

.subscrible label
{
	font: 700 18px / 20px Rufina;
}

.subscrible input
{
	box-sizing: border-box;
	margin-top: 10px;
}

input[type='email']
{
	width: 170px;
	height: 36px;
	margin-left: 5px;
}

input[type='email']:focus
{
	animation: show-shadow .4s, hide-border .01s ease;
	outline: none;
	animation-fill-mode: forwards;
}

.submit
{
	position: relative;
	top: 0;
	left: -3px;
	width: 90px;
	height: 36px;
	cursor: pointer;
	text-align: center;
	color: #fff;
	border: #111;
	background-color: #111;
}

.submit:hover
{
	transition: background-color .3s ease-in-out;
	background-color: rgba(247, 0, 0, .9);
}
	/* end subscrible */
	/* latest-post */
.title
{
	font: 700 23.7px / 48px Rufina;
	margin-top: 60px;
	border-bottom: 1px solid #d7d7d7;
}

.latest-post .category
{
	position: relative;
	display: inline-block;
	width: auto;
	margin-top: 20px;
	margin-left: 0;
	text-align: left;
}

.latest-post .topic
{
	font: 700 16px / 26px Rufina;
	text-align: left;
}

.latest-post .topic-date
{
	margin-top: 0;
	text-align: left;
}
	/* end latest-post */
	/* instagram */
.instagram .title
{
	margin-bottom: 30px;
}

.instagram li
{
	float: left;
	width: 160px;
	height: 165px;
}

.foto-item_1
{
	background: url(../img/photo/foto_1.png) no-repeat;
}

.foto-item_2
{
	background: url(../img/photo/foto_2.png) no-repeat;
}

.foto-item_3
{
	background: url(../img/photo/foto_3.png) no-repeat;
}

.foto-item_4
{
	background: url(../img/photo/foto_4.png) no-repeat;
}
	/* end instagram */
	/* categories */
.categories ul
{
	margin-top: 30px;
}

.categories li
{
	float: none;
}

.categories li a
{
	font-size: 13px;
	line-height: 36px;
	display: block;
	width: 320px;
	height: 34px;
	padding-left: 20px;
}

.categories li:nth-child(even)
{
	background-color: #f7f7f7;
}

.categories li:hover
{
	transition: all .3s ease;
	background-color: rgba(247, 0, 0, .15); /*#f7e1e1;*/
}
	/* end categories */
	/* advertising */
.advertising
{
	position: relative;
	overflow: hidden;
	width: 320px;
	height: 400px;
	margin-top: 60px;
	text-align: center;
	background: url(../img/photo/adveertising-bg.png);
}

.advertising::before,
.advertising::after
{
	position: absolute;
	content: '';
	border: 60px solid transparent;/*#ffc600;*/
}

.advertising::before
{	top: 0;
	right: 0;
	border-top: 60px solid #ffc600;
	border-right: 60px solid #ffc600;
}

.advertising::after
{
	bottom: 0;
	left: 0;
	border-bottom: 60px solid #ffc600;
	border-left: 60px solid #ffc600;
}

.adver-text
{
	font: 700 30px / 36px QuattrocentoSans;
	margin-top: 158px;
	color: #636363;
}

.adver-text span
{
	font: 700 60px / 36px QuattrocentoSans;
	text-transform: uppercase;
	color: #101010;
}
	/* end advertising */
	/* tags */
.tags-link
{
	margin-top: 30px;
}

.tags-link a
{
	font-size: 16px;
	line-height: 30px;
}

.tags-link a:hover
{
	transition: color 0.3s ease;
	color: #f00;
}

.tags-link span
{
	color: #898989;
}
	/* end tags */
/* end aside*/

/* end content*/


/* button-control */
.btn-refresh
{
	width: 850px;
	height: 80px;
	margin-left: 315px;
	padding-top: 40px;
	text-align: center;
	border-top: 1px dotted black;
}

.btn-refresh .control
{
	display: inline-block;
	margin-right: 100px;
	margin-left: 100px;
}

.control a
{
	font: 18px / 42px FontAwesome;
	display: block;
	width: 40px;
	height: 40px;
	color: rgba(175, 175, 175, .5);
	border: 1px solid rgba(235, 235, 235, .5);
	border-radius: 50%;
}

.control a:hover
{
	transition: all .4s ease;
	transform: rotate(360deg);
	color: rgba(175, 175, 175, 1);
	border-color: rgba(175, 175, 175, 1);
	border-radius: 0;
	background-color: #f7f7f7;
}
/* end button-control*/


/* section foto-instagram */
.foto-instagram
{
	width: 100%;
	padding-top: 130px;
}

.foto-instagram h4
{
	font: 700 35px / 35px Rufina;
	text-align: center;
	color: #242424;
}

.saturn
{
	width: 1920px;
	height: 110px;
	background: url(../img/saturn.png) no-repeat 50% 30%;
}

.foto-instagram .box-image
{
	width: 100%;
	height: 600px;
}

.flex-left
{
	position: relative;
	float: left;
	width: 50%;
}

.flex-right
{
	display: flex;
	float: right;
	width: 50%;
	flex-wrap: wrap;
}

.photo-item_1
{
	width: 320px;
	height: 300px;
	background: url(../img/photo/5604a14c875d3e9d2c5a25642882d4d2.png)
	no-repeat 50% 50%;
}

.photo-item_2
{
	position: absolute;
	top: 0;
	left: 320px;
	width: 640px;
	height: 600px;
	background: url(../img/photo/Layer-4.png)
	no-repeat 50% 50%;
}

.photo-item_3
{
	width: 320px;
	height: 300px;
	background: url(../img/photo/3cdb81287f1dd0a017c8fc9e72e961af.png)
	no-repeat 50% 50%;
}

.photo-item_4
{
	width: 640px;
	height: 300px;
	background: url(../img/photo/Layer-5.png)
	no-repeat 50% 50%;
}

.photo-item_5
{
	width: 320px;
	height: 300px;
	background: url(../img/photo/6cfa3b9885fd6dddec6c2669578f0380.png)
	no-repeat 50% 50%;
}

.photo-item_6
{
	width: 320px;
	height: 300px;
	background: url(../img/photo/photo-1433148749784-5e235e9efd12.png)
	no-repeat 50% 50%;
}

.photo-item_7
{
	width: 320px;
	height: 300px;
	background: url(../img/photo/2174ce6520fcc64c8ac3c71dcedd345b.png)
	no-repeat 50% 50%;
}

.photo-item_8
{
	width: 320px;
	height: 300px;
	background: url(../img/photo/Layer-6.png)
	no-repeat 50% 50%;
}
/* end section foto-instagram */


/* footer */
footer
{
	width: 100%;
	height: 190px;
}

.copyright,
.link
{
	display: inline-block;
	width: 50%;
	height: 100%;
}

.copyright
{
	background-color: #f7f7f7;
}

.link
{
	float: right;
	background-color: #ededeb;
}

.copy,
.link
{
	text-transform: uppercase;
}

.right
{
	float: right;
	margin-top: 60px;
	margin-right: 91px;
}

.copy,
.made
{
	line-height: 36px;
	text-align: right;
	color: #898989;
}

.copy
{
	font-size: 14px;
}

.made
{
	font-size: 12px;
}

.link ul
{
	margin-top: 73px;
	margin-left: 92px;
}

.link li
{
	margin-right: 40px;
}

.link a
{
	font-size: 13px;
	line-height: 36px;
	color: #898989;
}
/* end footer */



/* кросбраузерные эфекты - которые работают )) 50% / 50% */
input[type='search']:focus::-webkit-input-placeholder
{
	transition: text-indent .4s linear;
	text-indent: 400px;
}
input[type='search']::-webkit-input-placeholder
{
	font-size: 13px;
	font-style: italic;

	transition: text-indent .4s linear;
	text-indent: 0;
}
input[type='search']::-moz-placeholder
{
	font-size: 13px;
	font-style: italic;
}
input[type='search']:-moz-placeholder
{
	font-size: 13px;
	font-style: italic;
}
input[type='search']:-ms-input-placeholder
{
	font-size: 13px;
	font-style: italic;
}
input[type='search']::placeholder
{
	font-size: 13px;
	font-style: italic;
}


input[type='email']:focus::-webkit-input-placeholder
{
	transition: text-indent .8s linear;
	text-indent: 400px;
}
input[type='email']::-webkit-input-placeholder
{
	font-size: 13px;
	font-style: italic;

	transition: text-indent .4s linear;
	text-indent: 0;
	/*	background-color: rgba(245, 245, 245, 0.8);*/
}
input[type='email']::-moz-placeholder
{
	font-size: 13px;
	font-style: italic;
	/*	background-color: rgba(245, 245, 245, 0.8);*/
}
input[type='email']:-moz-placeholder
{
	font-size: 13px;
	font-style: italic;
	/*	background-color: rgba(245, 245, 245, 0.8);*/
}
input[type='email']:-ms-input-placeholder
{
	font-size: 13px;
	font-style: italic;
	/*	background-color: rgba(245, 245, 245, 0.8);*/
}
input[type='email']::-ms-input-placeholder
{
	font-size: 13px;
	font-style: italic;
	/*	background-color: rgba(245, 245, 245, 0.8);*/
}
input[type='email']::placeholder
{
	font-size: 13px;
	font-style: italic;
	/*	background-color: rgba(245, 245, 245, 0.8);*/
}
